<a href="https://colab.research.google.com/github/yu11009/Homework_2025/blob/main/100listPositionElement_101listElementPosition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#100 리스트 특정 위치 요소

listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]
print(val1)
print(val2)
print(val3)

2
b
5

In [6]:
#101 리스트 특정 요소 위치

solarsys = ['태양', '수성', '금성', '목성', '지구', '화성', '토성']
planet = '지구'
pos = solarsys.index(planet)
print(pos)
pos = solarsys.index(planet, 1)
print(pos)

4
4