<a href="https://colab.research.google.com/github/yu11009/Homework_2025/blob/main/120listEnumerate_121listSum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#120 리스트의 모든 요소를 인덱스와 쌍으로 추출

solarsys = ['태양', '수성', '금성','지구', '화성', '목성', '토성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
  print('태양계의 %d번째 천체: %s' %(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '토성'), (8, '천왕성'), (9, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 토성
태양계의 8번째 천체: 천왕성
태양계의 9번째 천체: 해왕성

In [2]:
#121 리스트의 모든 요소의 합 구하기

ld = [1,2,3,42,2,5,6,7,8,4,9,2,3,5,3]
ret = sum(ld)
print(ret)

102