<a href="https://colab.research.google.com/github/yu11009/Homework_2025/blob/main/126dictionaryClear_127dictionaryKeys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#126 사전 모든 요소 제거

names = {'Mary':10999, 'Sams':2111, 'Aimy':9788, 'Tom':20245}
names.clear()
print(names)

{}

In [2]:
#127 사전 키 추출

names = {'Mary':10999, 'Sams':2111, 'Aimy':9788, 'Tom':20245}
ks = names.keys()
print(ks)

for k in ks:
  print('Key:%s \tValue:%d' %(k,names[k]))

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom'])
Key:Mary 	Value:10999
Key:Sams 	Value:2111
Key:Aimy 	Value:9788
Key:Tom 	Value:20245