<a href="https://colab.research.google.com/github/yu11009/Homework_2025/blob/main/92offest_93characterSeparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#092 특정 문자 위치 찾기

txt = 'A lot od things occur each day, every day.'
offest1 = txt.find('e')
offest2 = txt.find('day')
offest3 = txt.find('day', 30)
print(offest1)
print(offest2)
print(offest3)

22
27
38

In [2]:
#093 특정 문자로 분리

url = 'http://www.naver.com/news/today=20160831'
log1 = 'name:홍길동 age:17 sex:남자 nation:조선'
ret1 = url.split('/')
print(ret1)
ret2 = log1.split()
for data in ret2:
    d1, d2 = data.split(':')
    print('%s -> %s' % (d1, d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선